.main-container{
  display: flex;
  justify-content: center;  
  margin: 20vh 0
}

a{
 text-decoration: none;
}

.card-actions{
  flex: 0 0 25%;
  margin: 25px;
  min-height: 300px;
}

.material-icons{
  font-size: 200px;
  background: linear-gradient(150deg,#2979FF 15%,#05d5ff 70%,#F4FF81 105%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-container{
  display: flex;
  justify-content: center;
  
}

@media screen and (max-width: 992px){
  .main-container{
    flex-direction: column;
  }
  .card-actions{
    min-width: 50%
  }
}

@media screen and (max-width: 768px){
  .main-container{
    flex-direction: column;
    align-items: initial;
  }
  .card-actions{
  
  }
}