.main-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;  
}

.workout-form{
  padding: 10px;
}

.form-container{
  flex: 0 0 40%;
  margin: 20px;
}

.card{
  min-height: 100%
}

.workout-container{
  flex: 0 0 40%;
}

.img-container{
  flex: 0 0 40%;
  margin: 20px;
}
.upload{
  max-width: 100%
}

.btn-container{
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
}